.input-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.input-element {
    margin-top: 30px;
}
.wrapper {
    width: 100%;
}
.wrapper .input-data {
    width: 100%;
    height: 35px;
    position: relative;
}
.wrapper .input-data input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid silver; 
}
.input-data input:focus ~ label,
.input-data input:valid ~ label {
    color: #4d80f3;
}
.wrapper .input-data label {
    position: absolute;
    bottom: 30px;
    left: 0;
    pointer-events: none;
    width: 300px;
    font-size: 13px;
    color: grey;
}
.wrapper .input-data .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}
.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4d80f3;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
    transform: scaleX(1);
}
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}
.describe {
    margin-top: 60px;
}