tbody, tr {
    cursor: pointer;
    border-bottom: 1px solid #dfdddd;
}
tbody:first-child {
    background-color: #f9f9f9;
}
tbody:last-child {
    border-bottom: none;
}
tr, td {
    font-size: 14px;
    text-align: left;
    padding: 14px 0px 16px 21px;
}
td:nth-child(2) {
    font-weight: bold;
    color: #ff5e65;
}
