.dashboard-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.dashboard-block {
    margin-bottom: 15px;
    padding: 0px 2px;
}
.dashboard-name {
    color: #688496;
    font-size: 15px;
    font-weight: 500;
}
.credit-button {
    width: 150px;
    height: 34px;
}
.credit-button {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-image: linear-gradient(-180deg, #6890FB 0%, #4273F9 100%);
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 800;    
    box-shadow: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.credit-button:hover {
    background-image: linear-gradient(-180deg, #2256e1 0%, #073ccb 100%);
}
.overlay-block {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.overlay-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.overlay-content {
    position: absolute;
    left: 0;
    top: 18%;
}
.form-parent-block {
    width: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
                0 24px 38px 3px rgba(0, 0, 0, 0.14),
                0 9px 46px 8px rgba(0, 0, 0, 0.12);
    padding: 34px 34px 34px 34px;
}
.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.form-header-name {
    font-size: 18px;
    font-weight: 500;
}
.closebtn {
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    height: 36px;
}
.closebtn:hover {
    background-color:  rgba(0, 0, 0, 0.2);
}
