* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.app-body {
  background-color: #eaf4fb;
  min-height: 100vh;
}
.app-components {
  padding: 50px 50px 0px 50px;
}
