* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.app-body {
  background-color: #eaf4fb;
  min-height: 100vh;
}
.app-container {
  display: inline;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.app-components {
  margin-left: 210px;
}
.app-components {
  width: 85%;
}
.app-components {
  padding: 20px 20px 16px 20px;
}
.all-credits {
  color: #688496;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 5px;
  margin-bottom: 20px;
}
.side-bar {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0px;
  overflow-y: auto;
  margin-left: 16px;
}
.side-bar {
  background: #fff;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.16);
  color: #fff;
}
.tab-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-list {
  position: relative;
  height: 250px;
  padding: 0px 20px;
}
div.tab-list::after, div.profile-info::after {
  content: '';
  background-image: linear-gradient(-90deg, #FFFFFF 3%, #B8CBCC 51%, #FFFFFF 95%);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.list-item {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #545454;
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  cursor: pointer;
  margin: 8px 0px;
}
.list-item:hover {
  width: 100%;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(-180deg, #6890FB 0%, #497DF2 100%);
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.78px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  line-height: 32px;
  margin: 8px 0px;
}
.active {    
  width: 100%;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(-180deg, #6890FB 0%, #497DF2 100%);
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.78px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  line-height: 32px;
  margin: 8px 0px;
}
.tab-content {
  display: none;
}
.active-tab-content {
  display: block;
}